
#sect2
{
background-image: url("images/touristbackground.jpg");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
display: flex;
align-items: center;



}

.header{
width: 100%;

padding-top: 80px;
padding-bottom: 80px;
padding-left: 20px;
}

.btn-primary:focus
{
background-color: rgb(8, 249, 8);

}
.btn-primary:hover 
{
border: solid green;
}
.section3{
display: flex;
flex-wrap: wrap;


}
.cc{
width: 33.3333333%;
}
.daytrip{
width: 33.33333333%;
}
.section3 a{
text-decoration: none;
color: black;

}
.card{
border: none;

}
#sect4{
background-image: url("images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
padding-top: 60px;
padding-bottom: 60px;


}
.text{
background-color: white;
height: fit-content;



}
.left{
width: 50%;

z-index: 9999;
position: absolute;
left: 5%;




}
#overlay
{

display: flex;
flex-wrap: wrap;
align-items: center;


}
.video{
width: 50%;
z-index: 1;
margin-left: 50%;


}
.text h3
{
padding-top: 10px;
padding-bottom: 2px;
padding-left: 20px;

}
.text p{

padding-left: 20px;
}
.bt{
width: fit-content;
padding: 10px;
background-color: rgb(8, 249, 8);
border: none;
}
.wrapper{
max-width: 75rem;
padding: 2rem;
margin: 0 auto;
}
.gallery{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(4,12.5rem);
gap: 5px;
}
.galleryimage{
width: 100%;
height: 100%;
object-fit: cover;
}

.galleryitem2{
grid-column: 2/ span 1;
grid-row: 1/span 2;
}
.galleryitem7{
grid-column: 2/span 1;
grid-row: 3/ span 2;
}

.galleryitem4{
grid-row: 2/span 2;
}
.galleryitem5{
grid-row: 2/span 2;

}
.galleryitem{
position: relative;

}
.galleryoverlay{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;

padding: 10px;
display: flex;
flex-direction: column;
font-size: 14px;
color:white;

}
.tm{
display: flex;
flex-direction: column;
height: auto;
flex-wrap: wrap;

}
.ap{
display: flex;
flex-wrap: wrap;
justify-content: end;
}
#sect5{
background-image: url("images/wp5257218.jpg");
min-height: 60vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#sect5{
display: flex;
align-items: center;
}

.wbpf{
display: flex;

background-color: rgba(247, 160, 47, 0.411);
padding-top: 25px;
padding-bottom: 25px;
}
.exp,.prof,.group{
width: 33.333333%;
text-align: center;
padding-right: 10px;
}
#wbp h5{
text-align: center;
padding-bottom: 10px;
}
.round img{
border-radius: 50%;
width: 100px;
}
.ssl{
display: flex;
padding-top: 25px;
padding-bottom: 25px;
}
.round,.ld{
width: 50%;
text-align: center;
}
.ld{
align-self:center;
}
#green{

background-image:linear-gradient(rgb(64, 139, 64),rgb(27, 85, 27));



}
.ft{
    display: grid;
grid-template-columns: 50% 50%;
height: 30vh;
align-items: center;


}
.book,.chkdt{
width: 50%;
text-align: center;

}
.book h4{
color: white;
}
.book p{
color: rgb(125, 167, 125);
font-size:large;
}
#bt2 a{
text-decoration: none;
color: white;
font-weight: 600;
} 

@media  only screen and (max-width:1028px)
{

#overlay{
flex-direction: column;
}
.section3{
display: block;
}
.cc{
width: 100%;
}
.gallery{
display: block;
}
.wbpf{
display: block;
padding-top: 40px;
height: auto;

}
.exp,.prof,.group{
width: 100%;
margin-bottom: 20px;
}
.ssl{
display: block;
}
.ld{
width: 100%;
margin-bottom: 20px;
}
.round{
width: 100%;
}
.ft
{
display: block;
height: auto;
padding-top: 30px;
padding-bottom: 30px;

}
.book,.chkdt{
width: 100%;
}
}
@media  only screen and (max-width:489px)
{

.galleryitem2,.galleryitem4,.galleryitem5,.galleryitem7,.galleryitem1,.galleryitem3,.galleryitem6{
    height: 250px;
    margin-bottom: 10px;
}
.galleryitem8{
    height: 250px;
}
#sect5{
    padding-top: 50px;
    padding-bottom: 50px;
}
#sect4{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}
#overlay{
    padding-left: 0px;
    padding-right: 0px;
}
.left{
    left: 0%;
    width: 100%;
    margin-top: -50px;
    position: relative;
    z-index: 9999;
}
.text{
    order: 0;

    margin: auto;
    width: 90%;
    font-size: 12px;
}
.video{
    order: -1;
    margin-left: 0%;
    width: 100%;
}
.ap{
    justify-content: start;
}
.ft{
    padding-top: 40px;
}
}